# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# dotenv
.env

# Visual Studio Code
.vscode/

# cometml
.cometml-runs

# datasets
yolov5/Mixed/
yolov5/Mixed_300/